{% extends "base.html" %}

{% block title%}
  Result
{% endblock %}

{% block content%}
<h4> About the Application </h4>
<p>
  This is a simple Quiz Application, which offers simple quiz in the Quiz categories hosted by your School / Management / University.
  Each catagory contains related questions. 
  The user Can check the answer for each question.
  On clicking the submit button the user can see how much time 
  they took to complete the Quiz along with their score and efficiency
  on the basis of his/her answers. 
</p>
<br><br>

{% endblock %}
